.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 20px;
}

body {
  background-color: #6fd1d7;
}

h1 {
  margin: 30px;
  font-family: "Irish Grover", system-ui;
  text-shadow: 2px 0px 2px rgba(230, 41, 41, 0.3);
  font-size: 6rem;
  color: #093c5d;
}

p {
  font-size: 2rem;
  color: #093c5d;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
  border: none;
  filter: drop-shadow(15px 15px 2px rgba(9, 60, 93, 0.3));
  transition: transform 0.1s;
}

.rolling {
  transform: rotate(720deg);
}

.retry {
  display: flex;
  justify-content: center;
  align-items: center;
}
.try-again {
  background-color: rgba(59, 117, 151, 0.3);
  margin-top: 50px;
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  color: rgba(254, 254, 254, 0.8);
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
}
.try-again:hover {
  background-color: #3b7597;
  color: rgb(254, 254, 254);
}
.try-again:active {
  background-color: #e03f4f;
  color: #f8c463;
}

.invisible {
  visibility: hidden;
}

footer {
  margin-top: 5%;
  color: #093c5d;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
